$modal-width: 464px;
$button-height: 42px;

.auth-modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 23;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	width: $modal-width;
	background: var(--clr-bg-elevation-1, var(--clr-background));
	color: var(--clr-text);
	border-radius: 8px;
	padding: 16px 42px;
	overflow: auto;

	&.mobile {
		inset: 0;
		transform: none;
		padding: 16px;
		width: 100vw;
		height: 100%;

		.fa-close {
			position: absolute;
			right: 24px;
			top: 17px;
			font-size: 1.3rem;
			color: rgba(var(--clr-secondary-values), 0.7);
		}
	}

	h1 {
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 20px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 24px 0;
		width: 100%;

		h3 {
			font-weight: 600;
			font-size: 1rem;
		}

		button {
			margin-top: 16px;
			height: $button-height;
		}
	}

	.switch-state {
		background-color: inherit;
		margin-top: auto;
		width: 100%;
		padding: 16px 0 4px;
		font-size: 0.9rem;
		border-top: 2px solid var(--clr-border);

		span {
			color: var(--clr-primary);
			font-weight: 600;
			cursor: pointer;
			user-select: none;
		}
	}

	.auth-spinner {
		--circle-size: 14px;
		--wrapper-padding: 0;
	}
}

.auth-backdrop {
	z-index: 22;
}
