.video {
	position: relative;
	height: 165.517px;

	video {
		width: 100%;
		height: 100%;
		background-color: #000;
	}

	.spinner {
		position: absolute;
		inset: 0;
		z-index: 5;
		--circle-size: 16px;
		background-color: rgba(0, 0, 0, 0.4);
	}
}
