@import "../../index.scss";

$sidebar-width: 356px;
$profile-icon-size: 32px;

.header-wrapper {
	height: $header-height;
}

.header-container {
	box-shadow: 0 1px 1px var(--clr-shadow);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: var(--clr-background);
}

.header {
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;

	li {
		height: calc(#{$header-height} / 1.75);
		display: flex;
		align-items: center;
	}

	.logo {
		height: 100%;
	}

	.search-bar {
		background: rgba(var(--clr-secondary-values), 0.06);
		width: $sidebar-width;
		border-radius: 92px;
		display: flex;
		align-items: center;
		color: var(--clr-text);

		input {
			padding: 12px 16px;
			font-size: 0.9rem;
			caret-color: var(--clr-primary);
			width: 90%;
		}

		span {
			display: block;
			background: rgba(var(--clr-secondary-values), 0.12);
			margin: -3px 0;
			width: 1px;
			height: 28px;
		}

		button {
			padding: 16px;
			border-radius: 0 92px 92px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgba(var(--clr-secondary-values), 0.5);
			cursor: pointer;
			background: none;
			font-size: 1rem;

			&:hover {
				background: rgba(var(--clr-secondary-values), 0.03);
			}
		}
	}

	.buttons {
		display: flex;
		gap: 16px;
		font-weight: 600;
		font-size: 16px;

		span {
			transition: box-shadow 0.2s ease-out;
			cursor: pointer;
			user-select: none;

			&:hover {
				box-shadow: 0 2px 0 rgba(var(--clr-shadow-values), 0.5);
			}
		}

		button {
			padding: 8px 28px;
		}
	}
	.icons {
		display: flex;
		gap: 24px;
		font-weight: 600;
		font-size: 1.2rem;
		position: relative;

		.icon {
			cursor: pointer;
		}

		.profile-icon {
			width: $profile-icon-size;
			height: $profile-icon-size;
		}
	}

	.options-dropdown {
		position: absolute;
		right: 0;
		z-index: 11;
		transform: translateY(110%);

		& > div {
			display: flex;
			align-items: center;
			gap: 12px;
			padding: 8px 16px;
		}
	}
}
