$card-width: 196px;

.profile-card {
	width: $card-width;

	.video-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: var(--clr-secondary);

		video {
			background: var(--clr-secondary);
			width: 100%;
			cursor: pointer;
			object-fit: contain;
		}
	}
}
