@import "../../index.scss";

.app-input-field {
	position: relative;
	color: var(--clr-text);
	background: rgba(var(--clr-secondary-values), 0.06);
	border: 1.5px solid rgba(var(--clr-secondary-values), 0.06);
	border-radius: $btn-border-radius;
	width: 100%;

	&:hover {
		background: rgba(var(--clr-secondary-values), 0.1);
		border: 1.5px solid rgba(var(--clr-secondary-values), 0.1);
	}

	&.error {
		border: 1.5px solid red;
	}

	input {
		caret-color: var(--clr-primary);
		padding: 10px 12px;
		font-size: 0.9rem;
		width: 100%;

		&::placeholder {
			color: rgba(var(--clr-secondary-values), 0.6);
		}
	}
}

.form-error-container {
	color: red;
	font-size: 0.75rem;
	margin-left: 4px;
}
