$dropdown-width: 296px;
$dropdown-pfp-size: 42px;

.user-dropdown {
	z-index: 9;
	transform: translateY(calc(100% + 10px));
	padding: 24px;
	width: $dropdown-width;

	&.hide {
		opacity: 0;
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.follow-btn {
		margin: 0;
	}

	.rounded-photo {
		width: $dropdown-pfp-size;
		height: $dropdown-pfp-size;
	}

	.dd-card-names {
		header {
			flex-direction: column;
			gap: 0;
			align-items: stretch;
			margin-top: 8px;

			.username {
				font-size: 1rem;
				cursor: unset;

				&:hover {
					text-decoration: none;
				}
			}

			h5 {
				font-weight: 400;
			}
		}
	}

	.counts {
		display: flex;
		gap: 12px;
		border-bottom: 2px solid var(--clr-border);
		padding: 16px 0;

		p {
			font-weight: 400;

			span {
				font-weight: 600;
			}
		}
	}

	.description {
		font-weight: 400;
		font-size: 0.8rem;
		padding-top: 16px;
	}
}
