.search-bar {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 8px 12px;

	.input {
		border-radius: 4px;
	}

	button {
		font-size: 1.4rem;
		color: var(--clr-primary);

		&:disabled {
			color: rgba(var(--clr-secondary-values), 0.3);
		}
	}
}
