$container-width: 692px;

.video-page-container {
	display: flex;
	justify-content: space-between;

	.content-container {
		width: $container-width;
		height: 100%;

		&.loading {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 596px;
		}
	}
}
