$header-height: 44px;

.notifications-page {
	overflow: auto;
	background-color: var(--clr-background);
	color: var(--clr-text);
	padding-bottom: 12px;

	header {
		height: $header-height;
		line-height: $header-height;
		font-size: 17px;
		font-weight: 600;
		padding: 0 18px;
		text-align: center;
		border-bottom: 2px solid var(--clr-border);
	}

	.content {
		padding-top: 8px;
	}

	.no-notifs {
		text-align: center;
		color: rgba(var(--clr-secondary-values), 0.5);
	}
}
