$modal-width: 464px;

.auth-modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 23;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	width: $modal-width;
	background: var(--clr-background);
	border-radius: 8px;
	padding: 16px 42px;

	h1 {
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 20px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 24px;
		width: 100%;

		h3 {
			font-weight: 600;
			font-size: 1rem;
		}

		button {
			margin-top: 16px;

			&:disabled {
				background: rgba(var(--clr-secondary-values), 0.06);
				color: rgba(var(--clr-secondary-values), 0.3);
				cursor: not-allowed;
			}
		}
	}

	.switch-state {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 24px;
		font-size: 0.9rem;
		border-top: 2px solid var(--clr-border);

		span {
			color: var(--clr-primary);
			font-weight: 600;
			cursor: pointer;
			user-select: none;
		}
	}
}

.auth-backdrop {
	z-index: 22;
}
