.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	.input-error {
		color: red;
		margin-left: 8px;
	}
}

.input-container {
	display: flex;
	background-color: rgba(var(--clr-secondary-values), 0.06);
	width: 100%;
	padding: 6px 10px;
	border-radius: 8px;
	border: 1px solid transparent;
	caret-color: var(--clr-primary);

	&.error {
		border: 1px solid red;
	}

	input {
		width: 100%;
	}
}
