$header-height: 44px;
$pfp-size: 120px;

.edit-profile {
	background: var(--clr-background);
	color: var(--clr-text);
	overflow: auto;
	padding-bottom: 12px;

	header {
		display: flex;
		height: $header-height;
		line-height: $header-height;
		font-size: 17px;
		font-weight: 600;
		padding: 0 18px;
		border-bottom: 2px solid var(--clr-border);
		text-align: center;
		margin-bottom: 20px;

		> div {
			width: 24px;
		}

		h4 {
			flex: 1 1 0%;
			padding: 0 12px;
		}

		.fa-save {
			color: var(--clr-primary);
		}
	}

	.content {
		padding: 0 20px;
	}

	section {
		display: flex;
		flex-direction: column;
		padding-bottom: 12px;
		border-bottom: 2px solid var(--clr-border);
		margin-bottom: 20px;

		&:last-of-type {
			border: none;
		}

		h4 {
			font-size: 0.85rem;
			font-weight: 600;
			color: rgba(var(--clr-secondary-values), 0.5);
			margin-bottom: 8px;
		}

		.section-content {
			font-size: 0.85rem;
		}
	}

	.rounded-photo {
		width: $pfp-size;
		height: $pfp-size;
	}

	.pfp {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.form-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;

		label {
			color: rgba(var(--clr-secondary-values), 0.7);
		}

		p {
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				font-size: 1.2rem;
				color: rgba(var(--clr-secondary-values), 0.75);
			}
		}

		.data {
			display: flex;
			align-items: center;
			gap: 6px;
			flex-shrink: 1;
			max-width: 60%;
		}

		.passwords {
			flex-direction: column;
		}

		span,
		.edit {
			color: var(--clr-primary);
		}

		.error-container {
			font-size: 0.7rem;
		}

		#pfp-input {
			display: none;
		}
	}

	.made-with {
		font-size: 0.77rem;
		text-align: center;
		color: rgba(var(--clr-secondary-values), 0.6);

		a {
			text-decoration: underline;
		}
	}

	.spinner {
		--wrapper-padding: 70% 0 0 0;
		--circle-size: 12px;
	}
}
