$header-height: 44px;

.upload-page {
	background: var(--clr-background);
	color: var(--clr-text);
	overflow: auto;
	padding-bottom: 20px;

	.box-backdrop {
		z-index: 11;
	}

	.progress-box {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 90%;
		transform: translate(-50%, -50%);
		z-index: 12;
		background: var(--clr-bg-elevation-2, var(--clr-background));
		box-shadow: var(--shadows, 0 0 5px 5px var(--clr-shadow));
		border-radius: 8px;
		padding: 16px 20px;
		text-align: center;

		h3 {
			font-weight: 500;
			font-size: 1.3rem;
			margin-bottom: 8px;
		}

		h5 {
			font-size: inherit;
			display: flex;
			align-items: baseline;
			gap: 5px;
		}

		p {
			font-weight: 600;
			font-size: 1.2rem;
		}

		span {
			font-size: 0.7rem;
		}

		button {
			margin-top: 4px;
			border: none;
			align-self: center;
			background: none;
			color: rgba(var(--clr-secondary-values), 0.6);
			font-weight: 400;
		}
	}

	header {
		height: $header-height;
		line-height: $header-height;
		font-size: 17px;
		font-weight: 600;
		padding: 0 18px;
		text-align: center;
		border-bottom: 2px solid var(--clr-border);
		margin-bottom: 20px;
	}

	.content {
		padding: 0 20px;
	}

	.video-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border: 2px dashed var(--clr-primary);
		border-radius: 8px;
		width: 80%;
		aspect-ratio: 9 / 16;
		margin: 0 auto 36px;
		padding: 12px;
		font-size: 0.9rem;
		font-weight: 500;

		&.playing {
			padding: 0;
			overflow: hidden;
		}

		i {
			color: var(--clr-primary);
			font-size: 1.5rem;
		}

		h4 {
			margin: 8px 0 12px;
		}

		p {
			display: flex;
			flex-direction: column;
			font-size: 0.77rem;
			color: rgba(var(--clr-secondary-values), 0.7);
			gap: 6px;
		}
	}

	.info-container {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.buttons {
			display: flex;
			justify-content: center;
			gap: 2%;
			flex: 1 1 0%;
			margin-top: 8px;

			button {
				width: 48%;
				font-size: 0.8rem;
			}

			.cancel-button {
				border: 1px solid var(--clr-text);
				border-radius: 4px;
			}
		}
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 8px;

		h5 {
			display: flex;
			flex-direction: column;
			gap: 2px;

			span {
				font-size: 0.65rem;
				line-height: 0.9rem;
				color: rgba(var(--clr-secondary-values), 0.7);
			}
		}

		label {
			font-size: 0.9rem;
			font-weight: 500;
		}

		.error-container {
			font-size: 0.65rem;
		}
	}

	#video {
		display: none;
	}

	.player {
		width: 100%;
		height: 100%;
		object-fit: contain;
		background-color: #000;
	}

	.spinner {
		--circle-size: 12px;
		--wrapper-padding: 4px;
	}
}
