$top: 24px;

.notif-container {
	position: fixed;
	top: $top;
	left: 50%;
	transform: translateX(-50%);
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	font-size: 0.85rem;
	font-weight: 600;
	text-align: center;
	padding: 12px;
	border-radius: 8px;
	color: #ffffff;
	animation: notif-anim 1s ease-in-out;
	transition: top 1s ease-in-out;

	&.error {
		background: rgb(241, 62, 62);
	}

	&.success {
		background: #13b841;
	}

	&.warning {
		background: hsl(60, 90%, 55%);
		color: #3a3f3f;
	}

	&.info {
		background: rgb(184, 184, 184);
		color: #3a3f3f;
	}

	&.hide {
		top: -50%;
	}
}

@keyframes notif-anim {
	from {
		top: -50%;
	}
	to {
		top: $top;
	}
}
