$pfp-size: 24px;

.video {
	overflow: hidden;

	.vid-container {
		border-radius: 6px;
		overflow: hidden;
		width: 100%;
		height: 256px;

		video {
			width: 100%;
			height: 100%;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		line-height: 1rem;
		padding: 0 6px;
		font-size: 0.8rem;
		margin-top: 6px;

		.hide-overflow {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 4px;
			font-weight: 500;
			color: rgba(var(--clr-secondary-values), 0.7);
		}

		.uploader {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		.pfp {
			width: $pfp-size;
			height: $pfp-size;
		}
	}
}
