// cur-max-z-index: 10 (notification)

:root {
	--navbar-height: 49px;
}

:root.light {
	--create-icon-filter: invert(1);
	--clr-navbar-bg: var(--clr-background);
	--navbar-border: 1px solid #d0d0d3;
}

:root.dark {
	--clr-navbar-bg: #000;
}

.root-container {
	width: 100vw;
	height: 100vh;
}

.page-container {
	width: 100%;
	height: calc(100% - var(--navbar-height));
}
