// cur-max-z-index: 25 (notification)

:root {
	--navbar-height: 49px;
}

:root.light {
	--create-icon-filter: invert(1);
	--clr-navbar-bg: var(--clr-background);
	--navbar-border: 1px solid #d0d0d3;
}

:root.dark {
	--clr-navbar-bg: #000;
	--navbar-border: 1px solid #696969;
}

html,
body {
	overflow: hidden;
}

.root-container {
	width: 100vw;
	height: 100vh;
}

.fade-out {
	opacity: 0;
}

.fade-in {
	opacity: 1;
}

.primary-button {
	color: #ffffff;
	background-color: var(--clr-primary);
	border-radius: 4px;
	padding: 8px;
	font-weight: 600;
	border: 1px solid var(--clr-primary);

	&:disabled {
		border: 1px solid rgba(var(--clr-secondary-values), 0.06);
		background: rgba(var(--clr-secondary-values), 0.06);
		color: rgba(var(--clr-secondary-values), 0.34);
	}
}

.secondary-button {
	color: var(--clr-primary);
	font-weight: 600;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid var(--clr-primary);
}
