$preview-height: 458px;
$preview-width: 260px;

.upload-page-container {
	.box-backdrop {
		z-index: 11;
	}

	.progress-box {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 350px;
		transform: translate(-50%, -50%);
		z-index: 12;
		background: var(--clr-bg-elevation-2, var(--clr-background));
		box-shadow: var(--shadows, 0 0 5px 5px var(--clr-shadow));
		border-radius: 8px;
		padding: 16px 24px;
		text-align: center;

		h3 {
			font-weight: 500;
			font-size: 1.3rem;
			margin-bottom: 8px;
		}

		h5 {
			font-size: inherit;
			display: flex;
			align-items: baseline;
			gap: 5px;
		}

		p {
			font-weight: 600;
			font-size: 1.2rem;
		}

		span {
			font-size: 0.8rem;
		}

		button {
			margin-top: 4px;
			border: none;
			align-self: center;
			background: none;
			font-weight: 400;
			color: var(--clr-text);

			&:disabled {
				color: rgba(var(--clr-secondary-values), 0.6);
			}
		}
	}

	.card {
		background: var(--clr-bg-elevation-1, var(--clr-background));
		box-shadow: var(--shadows, var(--clr-shadow) 0px 2px 8px);
		border-radius: 8px;
		margin-top: 16px;
		padding: 24px 56px 80px;
		margin-bottom: 24px;

		header {
			h1 {
				font-size: 1.4rem;
				font-weight: 600;
			}

			h4 {
				margin-top: 4px;
				color: rgba(var(--clr-secondary-values), 0.6);
			}
		}

		.card-body {
			margin-top: 42px;
			display: flex;
			gap: 24px;

			.video-portion {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 12px;
				border: 2px dashed rgba(var(--clr-secondary-values), 0.25);
				border-radius: 8px;
				width: $preview-width;
				height: $preview-height;
				cursor: pointer;
				transition: border-color 0.25s ease-out, background-color 0.25s ease-out;
				overflow: hidden;

				&:hover {
					border-color: var(--clr-primary);
					background: rgba(var(--clr-secondary-values), 0.03);
				}

				video {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}

				input {
					display: none;
				}

				i {
					font-size: 2rem;
					color: var(--clr-primary);
				}

				h4 {
					font-weight: 600;
					font-size: 1rem;
				}

				p {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 12px;
					margin-top: 12px;
					font-size: 0.85rem;
					font-weight: 500;
					color: rgba(var(--clr-secondary-values), 0.5);
				}
			}

			.description-portion {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 100%;

				.form-group {
					display: flex;
					flex-direction: column;
					gap: 4px;

					h5 {
						display: flex;
						flex-direction: column;

						span {
							display: inline-block;
							margin: 2px 0;
							color: rgba(var(--clr-secondary-values), 0.8);
						}
					}

					label {
						font-weight: 600;
						font-size: 1rem;
					}

					.input {
						background: none;
						border: 1px solid var(--clr-border);

						&.error {
							border: 1px solid red;
						}
					}
				}

				button {
					align-self: flex-start;
					padding: 12px 56px;
					margin-top: 1rem;
				}
			}
		}
	}

	.upload-spinner {
		--wrapper-padding: 4px;
		--circle-size: 16px;
	}
}
