.search-page {
	overflow-y: auto;
	background-color: var(--clr-background);
	color: var(--clr-text);
	padding-bottom: 12px;

	.content {
		padding: 12px 6px;

		.buttons {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			font-size: 0.85rem;
			color: rgba(var(--clr-secondary-values), 0.7);
			font-weight: 500;

			button {
				padding: 0 8px;

				&.active {
					box-shadow: 0 1.9px 0 0 rgba(var(--clr-secondary-values), 0.4);
				}
			}
		}

		.vid-results {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 6px;
			margin-top: 12px;
		}

		.acc-results {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-top: 20px;
		}
	}

	.no-results {
		text-align: center;
		color: rgba(var(--clr-secondary-values), 0.6);
		margin-top: 16px;
		font-size: 0.8rem;
	}

	.spinner {
		--circle-size: 16px;
	}
}
