$pc-top: 30px;
$from-top: -30%;
$mobile-top: 24px;
$transition: 1s ease-in-out;

.notification {
	position: fixed;
	top: $from-top;
	left: 50%;
	transform: translateX(-50%);
	z-index: 25;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 16px;
	border-radius: 8px;
	color: #ffffff;
	width: 50%;
	transition: top $transition;

	&.error {
		background: rgb(241, 62, 62);
	}

	&.success {
		background: #13b841;
	}

	&.warning {
		background: hsl(60, 90%, 55%);
		color: #3a3f3f;
	}

	&.info {
		background: rgb(184, 184, 184);
		color: #3a3f3f;
	}

	&.reveal {
		top: $pc-top;
	}

	&.hide {
		top: $from-top;
	}

	&.mobile {
		top: $from-top;
		width: 90%;
		font-size: 0.85rem;
		padding: 12px;

		&.reveal {
			top: $mobile-top;
		}
	}
}
