$notif-top: 24px;
$transition: 1s ease-in-out;

.notif-container {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 25;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 16px;
	border-radius: 8px;
	color: #ffffff;
	width: 1100px;
	animation: notif-anim $transition;
	transition: top $transition;

	&.error {
		background: rgb(241, 62, 62);
	}

	&.success {
		background: #13b841;
	}

	&.warning {
		background: hsl(60, 90%, 55%);
		color: #3a3f3f;
	}

	&.info {
		background: rgb(184, 184, 184);
		color: #3a3f3f;
	}

	&.hide {
		top: -50% !important;
	}

	&.mobile-notification {
		top: $notif-top;
		width: 90%;
		font-size: 0.85rem;
		padding: 12px;
		animation: mobile-notif-anim $transition;
	}
}

@keyframes notif-anim {
	from {
		top: -50%;
	}
	to {
		top: 30px;
	}
}

@keyframes mobile-notif-anim {
	from {
		top: -50%;
	}
	to {
		top: $notif-top;
	}
}
