.homepage-container {
	background-color: #000;

	header {
		display: flex;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		color: rgba(255, 255, 255, 0.5);
		text-align: center;
		padding: 12px;
		pointer-events: none;
		font-weight: 500;

		button {
			font-size: 1.6rem;
			pointer-events: auto;

			i {
				color: inherit;
			}
		}

		nav {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 24px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
			pointer-events: auto;

			.active {
				color: #fff;
			}
		}
	}

	.loader {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
