@import "../global-variables/variables.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
Base light theme class for the website. Define everything 
light-theme related in this class and *nowhere* else. The 
class is added to the root (html) tag. 
*/

:root.light {
	--clr-background: #ffffff;
	--clr-text: rgb(22, 24, 35);
	--clr-text-light: rgba(22, 24, 35, 0.5);
	--clr-primary: rgb(254, 44, 85);
	--clr-primary-light: rgba(254, 44, 85, 0.06);
}

/* light theme end */

// makes position: sticky not work, handle with caution
// html,
// body {
// 	overflow-x: hidden;
// }

body {
	font-family: $default-fonts;
}

button {
	background: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: none;
	color: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
}

input {
	font-family: inherit;
	border: none;
	background: none;
	color: inherit;
	outline: none;
}

ul,
ol {
	list-style: none;
}

img {
	object-fit: cover;
	object-position: center;
}

.image-container {
	height: 100%;
	display: flex;
	align-items: center;

	img {
		height: 100%;
	}
}
