$dropdown-width: 223px;
$animation-time: 0.1s ease-in-out;

.dropdown {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: $dropdown-width;
	padding: 8px 0;
	background: var(--clr-bg-elevation-2, var(--clr-background));
	box-shadow: var(--shadows, 0 0 15px 5px var(--clr-shadow));
	border-radius: 8px;
	font-size: 0.9rem;
	font-weight: 500;
	transition: opacity $animation-time;
	animation: dropdown-anim $animation-time;

	&.hide {
		opacity: 0;
	}
}
@keyframes dropdown-anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
