// pc specific variables
$viewport-max-width: 1200px;
$btn-border-radius: 4px;
$header-height: 60px;
$scrollbar-width: 8px;
$scrollbar-thumb-color: rgba(var(--clr-primary-values), 0.85);
$scrollbar-track-color: rgba(var(--clr-secondary-values), 0.25);
/* this comment keeps track of the current maximum z-index. Change this comment if a need for even greater z-index arrives, and update the component next to it with the one that will have the higher z-index. ! Do not set it to an absurdly high value that gets difficult to keep track of (like 99999) ! */
// cur-max-z-index: 25; notification

* {
	scrollbar-width: thin;
	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}

*::-webkit-scrollbar {
	width: $scrollbar-width;
}

*::-webkit-scrollbar-thumb {
	background-color: $scrollbar-thumb-color;
}

*::-webkit-scrollbar-track {
	background-color: $scrollbar-track-color;
}

.page-container {
	min-height: 100vh;
	background: var(--clr-background);
	color: var(--clr-text);
	position: relative;
}

.primary-button {
	color: #ffffff;
	background-color: var(--clr-primary);
	border-radius: $btn-border-radius;
	padding: 8px;
	font-weight: 600;

	&:hover {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
			var(--clr-primary);
	}

	&:disabled {
		background: rgba(var(--clr-secondary-values), 0.06);
		color: rgba(var(--clr-secondary-values), 0.34);
		cursor: not-allowed;
	}
}

.see-all {
	color: var(--clr-primary);
	cursor: pointer;
	user-select: none;
}

.backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	user-select: none;
}

.hoverable {
	cursor: pointer;
	transition: background-color 0.25s ease-out;

	&:hover {
		background-color: rgba(var(--clr-secondary-values), 0.03);
	}
}

.follow-btn {
	button {
		border: 1px solid var(--clr-primary);
		border-radius: $btn-border-radius;
		padding: 2px 16px;
		color: var(--clr-primary);
		font-size: 0.9rem;
		font-weight: 500;

		&:hover {
			background-color: rgba(var(--clr-primary-values), 0.06);
		}
	}
}
