$header-height: 44px;

.unauthed-page {
	background-color: var(--clr-background);
	color: var(--clr-text);
	text-align: center;

	header {
		display: flex;
		height: $header-height;
		line-height: $header-height;
		font-size: 17px;
		font-weight: 600;
		padding: 0 18px;
		border-bottom: 2px solid var(--clr-border);

		> div {
			width: 24px;
		}

		h4 {
			flex: 1 1 0%;
			padding: 0 12px;
		}
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		.container {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		i {
			font-size: 4.5rem;
			color: rgba(var(--clr-secondary-values), 0.4);
		}

		p {
			font-size: 0.8rem;
			color: rgba(var(--clr-secondary-values), 0.7);
		}

		button {
			width: 180px;
			height: 44px;
			border-radius: 2px;
			font-size: 0.9rem;
		}
	}
}
